/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}
* {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
body {
    font-family:'Lucida Grande', sans-serif;
    background: #f4f4f4 url('images/bg-image.png');
}
.wrapper {
    width: 1024px;
    margin: 0 auto;
    background-color: white;
}
.header:after, .header-right-bottom:after, .header-right-top:after, .menu-top:after{ display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
/* Header begins here */

.header {
    margin-bottom: 12px;
    padding-left: 15px;
}
.header .header-left {
    margin-top: 22px;
    float: left;
}
.header .header-left .logo {

}
.header .header-right{
    float: left;
    display: block;
}

/* Top menu custom buttons */

.header .header-right .header-right-top {
    margin-left: 273px;
    margin-bottom: 26px;
    width: 460px;
}
.header .header-right .header-right-top .livechat, .currency {
    float: left;
    text-decoration: none;
}
.header .header-right .header-right-top .livechat{
    text-transform: uppercase;
    font-size: 11px;
    color: #FFF;
    display: block;
    width: 72px;
    height: 36px;
    background-image: url('images/livechat.png');
    text-align: center;
    line-height: 28px;
}
.header .header-right .header-right-top .livechat span{
}
.header .header-right .header-right-top .currency {
    text-decoration: none;
    color: #b8b8b8;
    margin: 11px 30px 0px 26px;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 11px;
    display: block;
    width: 65px;
    background: url('images/triangle.png') right no-repeat;
}

/* Top menu */

.header .header-right .header-right-top .menu-top {
    float: left;
}
.header .header-right .header-right-top .menu-top > li {
    margin-top: 6px;
    margin-right: 30px;
    float: left;
    font-family: 'Pontano Sans', sans-serif;
}
.header .header-right .header-right-top .menu-top li > a {
    color:#b8b8b8;
    font-size: 11px;
    text-decoration: none;
}
.header .header-right .header-right-top .menu-top li a:hover {
    color:#333;
}
.header .header-right .header-right-top .menu-top .first {

}
.header .header-right .header-right-top .menu-top .last{
 margin-right: 0;
}

/* Bottom menu */

.header .header-right .header-right-bottom {
}
.header .header-right .header-right-bottom .menu-bottom {
    overflow: hidden;
    float:left;
}
.header .header-right .header-right-bottom .menu-bottom li {
    float: left;
    margin: 11px 0 0 0;
    width: 139px;
    text-align: center;
}
.header .header-right .header-right-bottom .menu-bottom .last {
}
.header .header-right .header-right-bottom .menu-bottom li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #b8b8b8;
    font-size: 16px;
}
.header .header-right .header-right-bottom .menu-bottom li a:hover {
    color:#333;
}
.header .header-right .header-right-bottom .magnifier{
    background-image: url('images/magnifier.png');
    display: block;
    width: 23px;
    height: 23px;
    float: left;
    margin-top: 7px;
    margin-left: 4px;
    position: relative;
}
.header .header-right .header-right-bottom .magnifier:hover > .search-container{
    display: block;
}

/* Header ends here
Menu-bar starts here */

.menu-bar-wrapper{
    height: 103px;
    background-color: #f4f4f4;
    margin-bottom: 6px;
    clear: both;
}
.menu-bar-wrapper .menu-bar{
    overflow: hidden;
    text-align: center;
}
.menu-bar-wrapper .menu-bar li{
    float: left;
    width: 126px;
    line-height: 103px;
}
.menu-bar-wrapper .menu-bar li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
}
.menu-bar-wrapper .menu-bar li a:hover{
    color: #9b9b9b;
}

/* Menu bar ends here
Content begins here */

.content-wrapper{
    border-bottom: 1px dotted black;
    padding-bottom: 15px;
}

/* Content-left side*/
.content-wrapper .content-wrapper-left{
    float:left;
    background: url('images/shadow-short.png') no-repeat 43px bottom;
    padding-bottom: 18px;
}

.content-wrapper .content-wrapper-left .ribbon {
    width: 16px;
    height: 13px;
    position: absolute;
    top: 13px;
    left: -16px;
    background: url('images/ribbon-corner.png');
}
.content-wrapper .content-wrapper-left .ribbon-text {
    position: absolute;
    top: 24px;
    left: -16px;
    line-height: 40px;
    min-height: 40px;
    width: 217px;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 30px;
    background: #aecacc url('images/shadow-small.png') repeat-y right;
    padding-left: 34px;
}
.content-wrapper .content-wrapper-left .text-container {
    height: 343px;
    width: 270px;
    background-color: #f4f4f4;
    margin-right: 19px;
    margin-left: 40px;
    position: relative;
    padding: 82px 20px 0 20px;
}
.content-wrapper .content-wrapper-left .text-container .furniture-text {
    margin-top: 82px;
    text-align: center;
    color: #999;
    font-size: 14px;
}

/* Content-right side */
.content-wrapper .content-wrapper-right {
    overflow: hidden;
}
.content-wrapper .content-wrapper-right .image-container{
    float: right;
    width: 656px;
    height: 429px;
    background: url('images/shadow-long.png') bottom no-repeat;
    padding-bottom: 11px;
}
.content-wrapper .content-wrapper-right .image-container img {
}
/* content ends here */
/* Hover block start here*/

/* SEARCH */
.search-container{
    display: none;
    position: absolute;
    right: -7px;
    top: 0;
}
.search-container .search {
}

/* Search results */
.search-container .search-results {
    background-color: #f4f4f4;
    padding: 11px 18px;
    height: 494px;
    width: 383px;
}
.search-container .results-list {
    margin-bottom: 18px;
}
.search-container .results-list li {
    border-bottom: 1px dotted black;
    overflow: hidden;
    padding: 30px 0 30px 6px;
}
.search-container .results-list li .last{
}
.product-image {
    background: url('images/shadow-img.png') bottom no-repeat;
    padding-bottom: 1px;
    display: block;
    width: 189px;
    height: 150px;
    float: left;
    margin-right: 27px;
}
.product-image-container {
    display: block;
    background-color: #FFF;
    padding: 10px;
}
.search-container .results-list li  .product-info {
    float: left;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    padding-top: 5px;
}
.search-container .results-list li  .product-info h2{
    padding-bottom: 14px;
}
.search-container .results-list li  .product-info .product-name a{
    text-decoration: none;
    color: #333;
}
.search-container .results-list li  .product-info product-price {}

/* Search input */
.search .input-container{
    text-align: right;
}
.search-input {
    background-color: #f4f4f4;
    border: none;
    margin-bottom: 8px;
    height: 26px;
    margin-right: 42px;
    font-family: 'Pontano Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #333;
    padding-left: 13px;
    width: 174px;
}
/* Arrow button */
.button-container{
    text-align: center;
    padding-bottom: 17px;
}
.button-anchor{
    display: inline-block;
    background: url(images/arrow.png) no-repeat bottom left;
    padding-left: 6px;
    height: 26px;
}
.button{
    display: inline-block;
    height: 26px;
    background: url(images/arrow.png) no-repeat top right;
    text-transform: uppercase;
    font-size: 15px;
    color: #FFF;
    line-height: 26px;
    padding-right: 33px;
    padding-left: 26px;
}
/* Basket begins here */
.basket-container {
    display: none;
    width: 368px;
    padding: 41px 26px;
    background-color: #F4F4F4;
    position: absolute;
    top: 38px;
    right:-11px;
    height: 309px;
}
.basket-container-top {
    margin-bottom: 27px;
}
.basket-container .results-list{
    overflow: hidden;
}
.basket .product-image {
    margin-right: 28px;
}
.basket .product-image, .product-info{
    float: left;
}
.basket .product-info {
    width: 136px;
}
.basket .first{
    overflow: hidden;
}
.basket-product-name {
    margin-bottom: 8px;
    overflow: hidden;
    padding-top:4px;
}
.basket-product-name .close{
    background-image: url('images/close-button.png');
    display: block;
    height: 21px;
    margin-left: 32px;
    width: 21px;
    float:left;
}
.basket-product-name .name{
    color: #333;
    font-family: 'Pontano Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 8px;
    float: left;
}
.points{
    display: block;
    font-size: 13px;
    color: #333;
    margin-bottom: 34px;
}
/* product info table */
.row > td {
    padding-right: 32px;
    padding-bottom: 18px;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 12px;
    color: #333;
}

.basket tbody .first td{
    text-align: right;
}
.basket tbody .last td{
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 28px;
}
.delivery-charges {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 12px;
    border-bottom: 1px solid #333;
    float:right;
    margin-right: 46px;

}
.delivery-charges a{
    color: #333;
    text-decoration: none;
}
.delivery-charges a:hover {
    color: #585858;
}
/* basket buttons */
.basket-button-wrapper {
    overflow: hidden;
    border-bottom: 1px dotted black;
    margin-bottom: 18px;
}
.basket-button-wrapper .button-container {
    float:left;
}
.button-container .first{
    margin-right: 40px;
    margin-left: 20px;
}
.button-container .last{
}
/* close basket */
.close-basket-container{
    overflow: hidden;
    text-align: center;
}
.close-basket-container .text {
    background: url('images/triangle-up.png') no-repeat right;
    font-size: 15px;
    color: #666;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 25px 0 0;
}
.basket-menu {
    position: relative;
}
.basket-menu:hover .basket-container {
    display: block;
    z-index: 9;
}
.basket-menu:hover .ribbon-basket {
    display: block;
}
.basket-menu:hover .basket-link {
    color: #FFF !important;
}
.ribbon-basket {
    display: none;
    background-image: url('images/basket-ribbon.png');
    height: 66px;
    width: 63px;
    top: -6px;
    right: -11px;
    position: absolute;
    z-index: 99;
}
.basket-menu .basket-link{
    position: relative;
    z-index: 999;
}
.basket-link:hover {
    color: #FFF;
}
/* Gift List begins here */
.gifts-container {
    background-color: #f4f4f4;
    width: 368px;
    padding: 40px 26px 18px;
    display: none;
    position: absolute;
    top: 39px;
    right: -87px;
    z-index: 9;
}
.gifts-container .gifts-container-top {
    overflow: hidden;
    margin-bottom: 29px;
}
.gifts-container .gifts-container-top .gifts-list .product-info{
    width: 135px;
}
.gifts-container .gifts-container-top .gifts-list li {
    overflow: hidden;
}
.gifts-container .gifts-container-bottom {}
.gifts-container .gifts-container-bottom .gift-forms{
    width: 301px;
    overflow: hidden;
    margin-bottom: 33px;
    margin-left: 7px;
}
.gifts-container .gifts-container-bottom .gift-forms label{
    color: #333;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 12px;
}
.gifts-container .gifts-container-bottom .gift-forms .form-item {
    overflow: hidden;
}
.gifts-container .gifts-container-bottom .gift-forms .form-item .label-container {
    float: left;
    width: 100px;
}
.gifts-container .gifts-container-bottom .gift-forms .form-item .input-container {
    float: left;
}
.gifts-container .gifts-container-bottom .gift-forms .form-item .input-container input{
    width: 195px;
}
.gifts-container .gifts-container-bottom .gift-forms .form-item .input-container select{
    width: 200px;
}
.add-button {
    padding-bottom: 21px;
}
.close-gifts-container {
    border-top: 1px dotted black;
    padding-top: 20px;
}
/* Appearing basket */
.gifts-menu {
    position: relative;
}
.gifts-menu:hover .gifts-link{
    color: #FFF !important;
}
.gifts-menu:hover .gifts-container {
    display: block;
}
.gifts-menu:hover .ribbon-gifts{
    display: block;
}
.ribbon-gifts{
    display: none;
    background-image: url('images/basket-ribbon.png');
    height: 66px;
    width: 64px;
    top: -6px;
    right: -17px;
    position: absolute;
    z-index: 99;
}
.gifts-link {
    position: relative;
    z-index: 999;
}
.gift-info-wrapper .last td{
   font-weight: bold;
}